.quickEdit {
	display: flex;
	flex-direction: column;

	[data-id="query_field_input"] {
		display: flex;
		flex-direction: row;
		align-items: center;
		> input {
			margin-left: 10px;
			max-width: 300px;
			width: 100%;
		}
	}
}
